@charset "utf-8";

@import "compass/css3";
@import "compass/utilities";
@import "bourbon";
@import "grid-settings";
@import "neat";


$font-stack: "Trebuchet MS", Helvetica, sans-serif;
$backgroun-image: "../images/faded-grass.jpg";
$from-color: rgba(255, 255, 255, 0);
$to-color: rgba(255, 255, 255, 0.6);

html {
  height: 100%;
  background-color: white;
  background-repeat: no-repeat;

  @include background(image-url($backgroun-image), linear-gradient(top left, $from-color, $to-color) );
}

body {
}

.main-container {
  @include outer-container(); // neat
}

.contact-container  {
  @include span-columns(5); // neat
  @include shift(1); // neat
  
  @include media($tablet) {
    @include span-columns(10 of 12);
  }
}

.services-container {
  @include span-columns(5); // neat
  @include media($tablet) {
    @include shift(1);
    @include span-columns(10 of 12);
  }
}

.info-container {
  @include span-columns(5); // neat
  @include media($tablet) {
    @include shift(1);
    @include span-columns(10 of 12);
  }
}

.text-container {

  
  font: $font-stack;
  font-weight: 300;
  line-height: 130%;

  margin: {
    top: 10px;
    bottom: 10px;
  }

  border: 2px solid;
  @include border-radius(15px);
  background-color: rgba(255, 255, 255, 0.80);
  
  padding: {
    top: 20px;
    bottom: 20px;
    right: 20px;
    left: 20px;
  }
  
  text-align: center;
  @include box-shadow(green 2px 2px 10px);
}

.contact {
  div {
    padding: 0.3em;
  }

  font: 1.5rem $font-stack;

  .address, .email {
    font: 1rem $font-stack;
    font-weight: 100;
  }

  // neat
  @include media($mobile) {
    font: 1.2rem $font-stack;
  }

}


footer {
  clear: both; // full width, no grid
  
  font: 0.7rem $font-stack;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  
}
